<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuoQm_RuMsDbI1rwI8hkhWjwgjYiBYueg</string>
	<key>GCM_SENDER_ID</key>
	<string>158341961420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aliret.fitfood</string>
	<key>PROJECT_ID</key>
	<string>stage-f1169</string>
	<key>STORAGE_BUCKET</key>
	<string>stage-f1169.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158341961420:ios:e53ca4c3d8ed6ffc905469</string>
</dict>
</plist>